@import url(http://fonts.googleapis.com/css?family=Nova+Mono);
* {
  margin: 0px;
  padding: 0px; }

.row {
  min-width: 100%; }

.margin-row {
  min-width: 85% !important; }

#radio-cats {
  margin: 0px; }

ul {
  list-style-type: none; }

li ul {
  list-style-type: none; }

a:link {
  color: #340245; }

.valign-middle {
  display: table; }
  .valign-middle > .columns {
    display: table-cell;
    vertical-align: middle; }
  .valign-middle > .columns, .valign-middle > [class*="column"] + [class*="column"]:last-child {
    float: none; }

#modalTitle {
  color: lightgray; }

#reg-form {
  min-height: 100%;
  background: url("../images/gallerylogo.svg"), linear-gradient(#694675 70%, #ec145a);
  background-position: center;
  position: relative; }
  #reg-form form {
    background-color: rgba(159, 177, 12, 0.7);
    padding: 2em; }
  #reg-form label {
    color: #340245; }

#cont-form {
  position: absolute; }

#reg-login {
  background: linear-gradient(#694675 70%, #ec145a); }

#radio-cats {
  font-size: 1em; }
  #radio-cats ul {
    font-size: 1em; }

nav.top-bar {
  box-shadow: 1px 1px 1px 2px #340245; }
  nav.top-bar, nav.top-bar .top-bar-section ul, nav.top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #694675; }
  nav.top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #694675; }
  nav.top-bar .top-bar-section .divider, nav.top-bar .top-bar-section [role="separator"] {
    border-top: 1px solid #340245; }
  nav.top-bar .title-area {
    background-color: #694675; }
    nav.top-bar .title-area img {
      max-width: 100%;
      height: 40px; }
  nav.top-bar .label {
    background-color: #694675; }

.dropdown li {
  background-color: #9fb10c;
  box-shadow: -1px 1px 1px 1px #340245; }

ul[class=dropdown] li {
  background-color: #9fb10c; }

#login-form {
  background-color: #9fb10c; }
  #login-form input {
    max-width: 90%; }
  #login-form label {
    background-color: #9fb10c;
    color: #340245; }

#notificaciones i {
  position: relative;
  font-size: 1.6em;
  top: 0.2em; }

.badge {
  background-color: #9fb10c;
  position: relative;
  font-weight: bold;
  top: -0.4em;
  right: 0.4em;
  line-height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: #ec145a;
  text-shadow: 1px 1px 1px #340245;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #340245; }

#categorias ul {
  margin-left: 0.5em; }

#categorias {
  background-color: #A18DA9;
  box-shadow: 0 0 20px 0 rgba(66, 66, 66, 0.5);
  min-height: 100vh;
  padding: 0px;
  padding-top: 1em;
  padding-right: 0.4em;
  position: fixed; }
  #categorias li {
    padding: 0; }
    #categorias li div {
      padding-left: 0.4em; }
  #categorias .button {
    text-align: left;
    background-color: #9B5100;
    padding-bottom: 0.2em;
    box-shadow: 1px 1px 1px #FF8500; }
  #categorias .button:hover {
    box-shadow: 3px 3px 3px #340245; }
  #categorias .cat-sel {
    background-color: #FF8500; }

#cat-menu li ul {
  display: none;
  padding-right: 0.4em; }

.menu-cat {
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  color: #e3e7f1;
  text-shadow: 1px 1px 1px #000; }

.button {
  background: #ec145a; }

.button:hover {
  background: #340245; }
  .button:hover a:link {
    color: #ec145a; }

.cat-active {
  background-color: #FF8500 !important;
  box-shadow: -2px -2px 2px #340245 !important; }

.clearing-thumbs {
  padding-top: 1em;
  min-height: 100vh; }

.by-user p {
  font-size: 0.9em; }
  .by-user p a {
    color: #A18DA9; }
  .by-user p a:hover {
    color: #340245; }

section[role="main"] {
  padding-top: 1em; }

#home {
  background-color: white; }

#contents {
  display: none; }

.clearing-thumbs .prev .imagen {
  padding: 1em;
  background-color: lightgray;
  box-shadow: 2px 2px 1px gray; }

.imagen div div {
  font-size: 1em; }

.raty-div {
  margin: 0px;
  padding: 0px; }

.comentario {
  background-color: #A18DA9;
  margin: 0.8em;
  padding: 0.4em; }
  .comentario .time {
    color: #340245;
    font-size: 0.9em; }

.fav-button[class="disabled"] {
  background-color: #9fb10c; }

.hashtags {
  padding: 0.4em; }
  .hashtags span {
    font-size: 0.8em; }
    .hashtags span a {
      color: #340245; }
    .hashtags span a:hover {
      color: #ec145a; }

#hashtitle, #favstitle {
  font-family: 'Nova Mono';
  font-size: 4em;
  padding: 0px;
  color: #694675;
  text-shadow: 2px 2px #340245; }

.seguido {
  padding: 1em; }

#admin-users {
  max-width: 80%; }

.user-admin {
  padding: 1em;
  background-color: #A18DA9; }
  .user-admin .left {
    color: #ec145a; }
  .user-admin .button {
    box-shadow: 1px 1px 1px #340245; }

/*# sourceMappingURL=general.css.map */
