$purple:        #340245;
$lightpurple:   #694675;
$lighterpurple: #A18DA9;
$blue:          #057aa7;
$orange:        #FF8500;
$darkblue:      #024A65;
$green:         #9fb10c;
$pink:          #ec145a;

@import url(http://fonts.googleapis.com/css?family=Nova+Mono);

//-----------------------------------------------------------------------GENERAL
* {margin: 0px;
  padding: 0px;}

.row{min-width: 100%;
    //outline: solid red 1px;
  }

//.columns{outline: solid green 1px}

.margin-row{min-width: 85% !important}

#radio-cats{
  //padding-left: 2em;
  margin: 0px;
}

ul{list-style-type: none;}

li {
  ul{list-style-type: none;}
}

a:link{color: $purple;}

.valign-middle {
    display: table;

    > .columns {
        display: table-cell;
        vertical-align: middle;
    }

    > .columns, > [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}

//-----------------------------------------------------------FORMULARIOS + MODAL

#reg-form{min-height: 100%;
  background: url("../images/gallerylogo.svg"),linear-gradient($lightpurple 70%, $pink);
  background-position: center;
  position: relative;
  
  form{background-color: rgba(159, 177, 12, 0.7);
      padding: 2em;}
  label{color: $purple;}
}

#cont-form{position: absolute;}

#reg-login{background: linear-gradient($lightpurple 70%, $pink);}
//-----------------------------------------------------------BARRA DE NAVEGACIÓN
nav.top-bar {
 
  //-webkit-box-shadow: 1px 1px 1px 2px $purple;
  box-shadow: 1px 1px 1px 2px $purple;
 
  &,.top-bar-section ul,.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: $lightpurple;
    //color: $nav-buttons-color;
  }
 
  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: $lightpurple;
    //color: $nav-buttons-color;
  }
 
  .top-bar-section .divider, .top-bar-section [role="separator"] {
    border-top: 1px solid $purple;
  }
 
  .title-area {
    background-color: $lightpurple;
 
    img {
      max-width: 100%;
      height: 40px;
    }
 
  }

  .label {
    background-color: $lightpurple;
  }
}

.dropdown{
  li{
    background-color: $green;
    box-shadow: -1px 1px 1px 1px $purple;
  }
}

ul[class=dropdown]{
  li{background-color: $green;}
}

#login-form{
  background-color: $green;
  input{max-width: 90%;}
  label{
    background-color: $green;
    color: $purple;
  }
}

//.top-bar, .top-bar .title-area .name{background-color: $lightpurple;}
//.top-bar-section .right .has-dropdown{background-color: $lightpurple;}

#notificaciones i{
  position: relative;
  font-size: 1.6em;
  top: 0.2em;
}

.badge {
  background-color: $green;
  position: relative;
  font-weight: bold;
  top: -0.4em;
  right: 0.4em;
  line-height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: $pink;
  text-shadow: 1px 1px 1px $purple;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 1px 1px 1px $purple;
}

//--------------------------------------------------------------------CATEGORIAS

#categorias ul {
  margin-left: 0.5em;
}

#categorias{background-color: $lighterpurple;
            box-shadow: 0 0 20px 0 rgba(66,66,66,0.5); 
            min-height: 100vh;
            padding: 0px;
            padding-top: 1em;
            padding-right: 0.4em;
            position: fixed;

  li{
    padding: 0;

    div{
      padding-left: 0.4em;
    }
  }

  .button{text-align: left;
    background-color: $blue;
    padding-bottom: 0.2em;
    box-shadow: 1px 1px 1px $darkblue;
  }

  .button:hover{
    box-shadow: 3px 3px 3px $darkblue;
  }

  .cat-sel{
    background-color: $green;
  }
}

#cat-menu li ul {
  display: none;
  padding-right: 0.4em;
  //background: $green;
}

.menu-cat{
  cursor: pointer;
  display: block;
  //background: none;
  //padding: 10px 0px;
  //padding-left: 30px;
  font-size: 1.1em;
  //text-decoration: none;
  font-weight: bold;
  color: #e3e7f1;
  text-shadow: 1px 1px 1px #000;
}

.button{background: $pink;}

.button:hover{
    background: $purple;

    a:link{color: $pink;}
}

.cat-active{
  background-color: $orange !important;
  box-shadow: -2px -2px 2px $purple !important;
}
//--------------------------------------------------------------------------SALA
.clearing-thumbs{
  padding-top: 1em;
  min-height: 100vh;
}

.by-user{

  p{
    font-size: 0.9em;
  
    a{color: $lighterpurple;}
    a:hover{color: $purple;}
  }
}

section[role="main"]{padding-top: 1em;}

#home{
  background-color: white;
}

#contents{
  display:none;
}

.clearing-thumbs .prev .imagen{
  padding: 1em;
  background-color: lightgray;
  box-shadow: 2px 2px 1px gray;
}

.imagen div div{
  font-size: 1em;
}

.raty-div{margin: 0px;
          padding: 0px;}

.comentario{background-color: $lighterpurple;
            margin: 0.8em;
            padding: 0.4em;
  .time{
    color: $purple;
    font-size: 0.9em;}
}

.fav-button[class="disabled"]{background-color: $green;}

.hashtags{
  padding: 0.4em;

  span{
    font-size: 0.8em;

    a{color: $purple;}
    a:hover{color: $pink;}
  }
}

//.tabs-content{background-color: $lighterpurple;}

#hashtitle, #favstitle{font-family: 'Nova Mono';
           font-size: 4em;
           padding: 0px;
           color: $lightpurple;
           text-shadow: 2px 2px $purple;}

.seguido{padding: 1em;}